#dashboard {
  margin-top: 50px;
  background-color: #fff;
  margin: 50px 20px 20px 20px;
  padding: 20px;

  .contant{
    margin: 20px 10px;
  }
  .ant-btn{
    padding: 4px 15px;
  }
  .btns{
    margin: 5px;
  }


}
#rcDialogTitle0, #rcDialogTitle1{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.ant-modal-close-x{
  font-size: 1.5em;
}
